<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <link rel="stylesheet" type='text/css' href="/css/bootstrap.css">
   <link rel="stylesheet" type='text/css' href="/css/styles.css">
   <link rel="stylesheet" type='text/css' href="/css/dashboardStyles.css">
</head>
<body>
   <div id='header' class='shadow-sm p-3 overflow-auto'>
      <div class='text-right'>
         <button type='button' class='btn btn-primary btn-sm' id='logout'>Logout</button>
      </div>
      <h1>Movie Catalog</h1>
      <p class='ml-3'>Welcome <%= user%></p>
      <div class='text-right'>
         <button type='button' class="btn btn-primary" data-toggle='modal' data-target='#newMovie' id='addMovie'>Add Movie</button>
      </div>
   </div>
   <main class='container'>
      <form id='searchform'>
         <div class='row'>
            <div class='form-group input-group m-2'>
               <input type="text" name="username" id="username" class='hide' value=<%= user %>>
               <input type="text" name="search" id="search" class='form-control' placeholder="Search">
               <button type='button' class='btn btn-light' id='searchbtn'><img src="search_icon.png" alt="search icon" width="20" height="20"></button>
            </div>
         </div>
      </form>
      <div id='results'></div>
      <%- include('modals/newMovie')%>
      <%- include('modals/details')%>
   </main>
   <script src='jquery-3.5.1.min.js'></script>
   <script src='bootstrap.js'></script>
   <script>
      $(document).ready(function () {
         $('#newMovie').click(function () {
            $('#savedResult').html('');
         });

         $('#searchbtn').click(function () {
            search();
         });

         $("#search").on('input', function () {
            search();
         });

         $('#save').click(function () {
            if ($('#title').val() == '') {
               $('#error').html('Please provide a title');
               return;
            } else if ($('#year').val() == '' || !/^\d{4}$/.test($('#year').val())) {
               $('#error').html('Please provide a valid release year');
               return;
            } else if ($('#rating').val() == 'select') {
               $('#error').html('Please select a rating');
               return;
            } else {
               $('#error').html('');
               $.post('/addMovie', $('#newMovieForm').serialize(), function (data){
               if (data.success) {
                  $('#savedResult').html(data.msg);
                  $('#newMovieForm')[0].reset();
               } else {
                  $('#error').html(data.msg);
               }
            });
            }
         });

         $('#logout').click(function () {
            $.post('/logout', function (data){
               if (data.success){
                  window.location.replace('/');
               } else {
                  alert(data.msg);
               }
            });
         });
      });

      function display(movie) {
         let out = "<div id='" + movie.movie_id + "' class='rounded shadow mt-2 p-2 result' onclick='getDetails(this.id)'><p class='font-weight-bold'>" 
            + movie.title + "</p></div></button>";
         return out;
      }

      function search() {
         if ($('#search').val() == '') {
            $('#results').html('');
            return;
         }
         let searchstr = $('#search').val();
            let name ='<%= user %>';
            let info = {username: name, search: searchstr};
            $.post('/search', info, function (data){
               let res = JSON.parse(data);
               let out = '';
               res.forEach(element => {
                  out += display(element);
               });
               $('#results').html(out);
            });
      }

      function getDetails(id) {
         let info = {id: id};
         $('#movieDetails').modal('toggle');
         $.post('/details', info, function (data){
            console.log(data);
         });
      }
   </script>
</body>
</html>